{
    "presets": [
        [
            "@babel/preset-env",
            {
                // https://stackoverflow.com/questions/52704820/disable-promise-transpilation-using-babel-preset-env
                "exclude": [
                    "transform-regenerator",
                    "babel-plugin-transform-async-to-generator"
                ]
            }
        ],
        "@babel/typescript"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-export-default-from",
        [
            "@babel/plugin-transform-runtime",
            {
                // https://babeljs.io/docs/en/babel-plugin-transform-runtime#helpers 是否编译导出方式
                "helpers":false
            }
        ]
    ]
}