**/**/package-lock.json
**/**/yarn.lock
**/**/node_modules

**/**/*.zip

# scf目录
**/**/scf_daily_task/*
!**/**/scf_daily_task/.gitkeep

/dist
.DS_Store
.history

npm-debug.log
yarn-error.log

**/**/secret.ts